body {
    background-color:white;
    margin: 0 ;
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --text_light_primary: #000000;
    --text_light_secondary: #728a96;
    --text_primary: #fff;
    --background_light_main: #f7f9fb;
    --background_light_gradient: linear-gradient(180deg,#f7f9fb,rgba(238,242,245,0.8) 116.16%);
    --background_light_icon: rgba(0,136,204,0.06);
    --background_light_blue: rgba(0,136,204,0.1);
    --background_dark_main: #232328;
    --background_dark_gradient: linear-gradient(0deg,#232328,#343437 101.47%);
    --background_dark_secondary: hsla(0,0%,100%,0.03);
    --background_gradient_light: linear-gradient(180deg,#fff,#f7f9fb 134.8%);
    --button_light_primary: #08c;
    --button_light_primary_hover: #0197e2;
    --button_light_primary_pressed: #0082c2;
    --button_light_secondary: rgba(246,248,251,0.8);
    --button_light_secondary_hover: #f4f7fa;
    --button_light_secondary_pressed: #f4f7fa;
    --button_dark_primary: #08c;
    --button_dark_primary_hover: #00a1f1;
    --button_dark_primary_pressed: #076c9f;
    --button_dark_secondary: hsla(0,0%,100%,0.06);
    --button_dark_secondary_hover: hsla(0,0%,100%,0.12);
    --button_dark_secondary_pressed: hsla(0,0%,100%,0.03);
    --button_dark_text: #07a0ec;
    --button_dark_secondary_text_hover: #5bc8ff;
    --button_dark_secondary_text_pressed: #0186c9;
    --button_light_primary_small: rgba(0,136,204,0.06);
    --button_light_primary_small_hover: rgba(0,136,204,0.3);
    --button_light_primary_small_pressed: rgba(0,136,204,0.03);
    --text_light_primary: #161c28;
    --text_light_secondary: #728a96;
    --text_dark_primary: #fff;
    --text_dark_secondary: hsla(0,0%,100%,0.7);
    --text_dark_gradient: linear-gradient(89.92deg,#06a1ef 28.51%,#69cdff 85.79%);
    --icon_light_primary: #08c;
    --icon_light_secondary: rgba(236,240,243,0.8);
    --icon_light_thirdly: #98b2bf;
    --icon_dark_primary: #02a8fb;
    --separator_light: rgba(123,148,160,0.2);
    --separator_dark: hsla(0,0%,100%,0.06);
    --black: #000;
    --covers_light_green: #caefd9;
    --hovered_link: #08c;
}

*, *::after, *::before{
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    font-family: 'Mulish', sans-serif;
    height: 1500px;
    /* background-color: var(--background_dark_main); */
  
  }

.head-link {
    display:block;
    list-style-type: none;
    text-align: center;
    text-decoration-color:#fff; 
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: linear-gradient(90deg,#9bcfb3 -18.26%,#08c); 
}

.link-ad {
text-decoration: none;
font-size: 12px;
font-family:'Courier New', Courier, monospace;
color: var(--text_primary);
Position: sticky;
}

.link-ad :active {
text-decoration: underline;
}
  .whole{
background-color:#353538;
padding-bottom: 10px;
position: fixed; 
position: sticky;
width: 100%;
top: 25px;
box-sizing: border-box;
}
  .navagation {
    display: flex;
    margin-left: 11.5%;
    margin-right: 11.5%;
    padding-top:10px;
    color: var(--text_primary);
    position: sticky;
}


.logo-ton{
    display: flex;
    justify-content: first baseline;
    height: 10%;
}
.image-ton {  
  width:80%;  
  height: 80%;
  }  
  .ax {  
  max-width: 100%;  
  max-height: 100%;  
  padding-top:10px;
  }  
  .ton{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      font-size: 13px;
  }

  .category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 12px;
    font-weight:bold;
    padding: 10px;
    padding-left: 70px; 
    padding-right: 70px;
    height: 10%;  
}


.github-logo{
    display: flex;
    justify-content: first baseline;
    height: 10%;
    width: 20%;
    font-size: 12px;
    padding: 10px;
    padding-left: 40px;
}
.github-text {
    padding-left: 7px;
}
.whole-1{
    display: flex;
    justify-items: first baseline;
    background-color:#353538;
    width: 100%;

}
.container {
    margin-left: 11.5%;
    margin-right: 11.5%;
}
.top-titel-left {
    width: 70%;

}
.titel1{
    font-size: 43px;
    line-height: 49px; 
    font-weight: bold;
    color: white;
    padding-top: 120px;
}
.titel2 {
    font-size: 43px;
    line-height: 49px; 
    font-weight: bold;
    color: #08c;
}
.paragragh{
    color: hsla(0,0%,100%,0.7);
    font-size: 12px;
    line-height: 20px;

}
.button-join-1{
    padding: 15px 20px;
    border-radius: 45px;
    color: var(--text_dark_primary);
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    background-color: var(--button_dark_primary);
    border-style: none;
    font-size:12px;
}
.button-github {
    padding: 15px 20px;
    border-radius: 45px;
    color: var(--text_dark_primary);
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    border-style: none;
    background-color: var(--button_dark_secondary);
    font-size: 12px;
}
.vido-dimond {
    display: flex;
    justify-content: right;
}

.row2 {
    display: block;
    padding-top: 90px;
}
.titel-2 {
margin: 0 auto;
width: 600px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 0px;
text-align: center;
font-size: 24px;
line-height: 45px;
font-weight: bold;
}
.description{
    max-width: 400px;
    margin: -20px auto;
    text-align: center;
    padding-bottom: 64px;
    color: var(--text_light_secondary);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 25px;
}
.carts {
    display: flex;
    justify-content: space-around;
}
.cart1 {
    border-radius: 24px;
    padding: 35px 40px;
    box-sizing: border-box;
    width: 25%;
    background-color: var(--background_light_main);
    display: flex;
    height: 100px;
}
.text-in-cart1 {
font-size: 14px;
line-height: 16px;
padding-bottom:20px ;

}
.number-1 {
    font-size: 20px;
    line-height: 16px;
    padding-top: 16px;
}
.icon-mid-1{
    left: 260px;
    text-align: center;
    transform: translateY(-50%);
}

.cart2 {
    border-radius: 24px;
    padding: 28px 40px;
    box-sizing: border-box;
    width: 30%;
    background-color: var(--background_light_main);
    display: flex;
    height: 120px;
}
.text-in-cart2 {
font-size: 15px;
line-height: 16px;
padding-bottom:25px ;

}
.number-2 {
    font-size: 28px;
    line-height: 16px;
    padding-top: 16px;
}
.icon-mid-2{
    left: 260px;
    text-align: center;
    transform: translateY(-50%);
}
